header {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    /* Estilizando a imagem */
    .header-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Garante que a imagem cubra todo o header sem distorção */
        z-index: 0; /* Para garantir que o texto fique por cima */
    }

    h1 {
        position: relative;
        z-index: 1; /* Coloca o texto acima da imagem */
        color: white;
        font-size: 4rem;
        font-weight: bold;
        text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.8); /* Adiciona sombra ao texto para melhor legibilidade */
        text-align: center;
        text-transform: uppercase;
    }

}
    /* Adicionando um overlay para um
